extends /layouts/application.pug

block content
  +task(preparedTask)

  h3 Edit task:  
  +formFor({ url: urlFor('updateTask', preparedTask.id), method: 'post', as: 'patch' })
    +input(f, 'name', 'Name')
    +textarea(f, 'description', 'Description')
    +input(f, 'tags', 'Tags')
    +selectUser(f, 'assignedToId', 'Assign to', users)
    +selectStatus(f, 'statusId', 'Status', statuses)
    button.btn.btn-primary(type='submit')= 'Update'
