extends /layouts/application.pug

block content
  h3 New task:  
  +formFor({ url: urlFor('tasks'), method: 'post' })
    +input(f, 'name', 'Name')
    +textarea(f, 'description', 'Description')
    +input(f, 'tags', 'Tag')
    +selectUser(f, 'assignedToId', 'Assign to', users)
    button.btn.btn-primary(type='submit')= 'Create'
