extends /layouts/application.pug

block content
  +task(preparedTask)      

  if currentUser.isSignedIn() && currentUser.hasRightsToEditTask(preparedTask) 
    a.btn.btn-primary(href=urlFor('editTask', preparedTask.id), role='button')= 'Edit'

  if currentUser.isSignedIn() && currentUser.hasRightsToDeleteTask(preparedTask)
    +formFor({ url: urlFor('deleteTask', preparedTask.id), method: 'post', as: 'delete', dataConfirm: 'Are you sure you want to delete?'})
      button.btn.btn-danger(type='submit')= 'Delete'

