extends /layouts/application.pug

block content
  +formFor({ url: urlFor('users'), method: 'post' })
    +input(f, 'email', 'Email address')
    +input(f, 'firstName', 'Firstname')
    +input(f, 'lastName', 'Lastname')
    +input(f, 'password', 'Password', { as: 'password' })
    button.btn.btn-primary(type='submit')= 'Sign up'
