extends /layouts/application.pug

block content
  h3 Your profile
  table.table.table-stripped
    thead
      tr
        th Full Name
        th Email
    tbody
      tr
        td= user.fullName
        td= user.email

  a.btn.btn-primary(href=urlFor('editProfile', user.id), role='button')= 'Edit'

  +formFor({ url: urlFor('deleteUser', user.id), method: 'post', as: 'delete', dataConfirm: 'Are you sure you want to delete?'})
    button.btn.btn-danger(type='submit')= 'Delete'
